/* In theory, angle of stripe should change with viewport width, but I don't know how to do that continuously while also adding shadow underneath */
.diagonal-stripe {
  width: 1600px;
  height: 570px;
  background-color: #0c95b5;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.35);
  transform: translate(0px, -230px) skewY(-13deg);
  position: absolute;
  z-index: -1;
}

.photo-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: end;
}

h1 {
  position: absolute;
  margin: 0;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 50px;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);
}

.top-photo {
  width: 400px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.35);
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

.stripe-container {
  width: 100%;
  height: 550px;
  max-width: 1280px;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow-x: hidden;
}

.top {
  display: flex;
  margin: 50px 70px 0;
}

.about {
  background-color: white;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.35);
  align-self: center;
  box-sizing: border-box;
  padding: 24px;
  font-size: 20px;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  font-family: "Playfair Display", serif;
  margin: 0;
}

.icon {
  width: 30px;
}

.icon-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 20px;
  justify-items: end;
}

p {
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 30%);
  font-size: 18px;
  line-height: 28px;
}

.about p {
  margin-bottom: 50px;
}

.projects {
  margin-top: 100px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 40px;
  row-gap: 10px;
  justify-items: center;
  margin: 20px 60px;
}

.projects h2 {
  width: 300px;
}

.project:first-of-type {
  grid-column: 1 / 2;
}

.project {
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.project-info {
  display: grid;
  grid-template-rows: min-content 100px;
  grid-template-columns: 1fr min-content min-content;
  column-gap: 10px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.15);
  padding: 12px 18px;
}

.project-photo {
  width: 100%;
}

.project p {
  grid-column: 1 / 4;
}

.project i {
  font-size: 24px;
  align-self: center;
}

.project .icon {
  width: 26px;
}

h3 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

.project p {
  font-size: 14px;
  color: hsl(0, 0%, 30%);
  line-height: normal;
}

@media (max-width: 1099px) {
  .diagonal-stripe {
    transform: translate(0px, -300px) skewY(-16deg);
  }
  .top {
    display: block;
    padding-top: 10px;
    margin: 0;
  }

  .about {
    margin-top: 130px;
    margin-left: 90px;
    margin-right: 90px;
  }

  .photo-container {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
    float: left;
  }

  .top-photo {
    width: 320px;
  }

  .about h2 {
    text-align: center;
  }

  h1 {
    top: 12px;
    left: 300px;
    width: 400px;
  }
}

@media (max-width: 759px) {
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .photo-container {
    margin: 20px 0;
  }
  
  .top-photo {
    width: 270px;
  }
  
  h1 {
    top: auto;
    left: auto;
    width: 100%;
  }
  
  .diagonal-stripe {
    transform: translate(0px, -600px) skewY(-30deg);
  }
  
  .about {
    box-shadow: none;
    margin: 0;
    background: transparent;
  }
  
  .icon-container {
    grid-template-columns: min-content min-content;
    justify-content: center;
  }
  
  .projects h2 {
    width: auto;
  }
  
}
